<div class="wrapper">
      
      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo"><b>TRUONG</b>MOBILE</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
            
              </li>
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>

              </li>
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-flag-o"></i>
                  <span class="label label-danger">9</span>
                </a>
            
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="https://sendidau.com/wp-content/uploads/2021/01/meme-meo.jpg" class="user-image" alt="User Image"/>
                  <span class="hidden-xs">Đỗ Võ Anh Trường</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="https://sendidau.com/wp-content/uploads/2021/01/meme-meo.jpg" class="img-circle" alt="User Image" />
                    <p>
                     Đỗ Võ Anh Trường - Ad Mobile Shop
                      <small>Member since Nov. 2021</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
            
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="https://sendidau.com/wp-content/uploads/2021/01/meme-meo.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
              <p>Đỗ Võ Anh Trường</p>

              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
    
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="/Home">
                <i class=" fa fa-dashboard"></i>
                <span>Home</span> <small class="label pull-right bg-green">new</small>
              
              </a>
            </li>
            <li>
              <a href="/Classify">
                <i class="fa fa-th"></i> <span>Classify</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Product</span> <small class="label pull-right bg-green">new</small>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Setting</span>
                
              </a>
            </li>
        
        </section>
        <!-- /.sidebar -->
      </aside>

    
      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Product
            <small>Control panel</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Product</a></li>
          
          </ol>
        </section>

        <Section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header">
                <h3 class="box-title">Product</h3>
              </div><!-- /.box-header -->
              <!-- form start -->
              <div class="box">
         
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Information</th>
                        <th>Count</th>
                        <th>Price</th>
                        <th>Classify</th>
                        <th>Edit</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                       {{#each Product}}
                      <tr>
                        <td><img src="{{this.image}}"  width="80" height="80"class="img-thumbnail" alt="Cinque Terre"/></td>
                      <td>{{this.name}}</td>
                      <td>{{this.info}}</td>
                      <td>{{this.count}}</td>
                      <td>{{this.price}}</td>
                      <td>{{this.classify}}</td>
                       {{!-- <td><a href="/Product/edit/{{this.Id}}"/>Edit</td>
                        <td><a href="#"/>Delete</td> --}}
                      <td><button type="button" class=" btn btn-warning" onclick="onEdit('{{this._id}}')">Edit</button>
                      <button type="button" class=" btn btn-danger" onclick="myFunction('{{this._id}}')" >Delete</button></td>
                      </tr>
                        {{/each}}
                    </tbody>

                  </table>
                </div><!-- /.box-body -->
              </div>
            </div>

          </div><!--/.col (left) -->
          <!-- Modal  -->

          <div class="col-md-3">
            <h2 class="bg-primary"> Add Product</h2>
            
                  <form role="form" action="/Product/insert" onsubmit = "return validateForm()" method="POST">
                  <!-- text input -->
                  <div class="form-group">
                    
                    <input id="name" name="name"  class="form-control" type="text" placeholder="Enter Name ..." class="form-control"/>
                    <p id="aName" style="color: red; margin-left:15%;"></p>
                    
                  </div>
                  <div class="form-group">
                    
                    <input id="info" name="info" type="text"  class="form-control" placeholder="Enter Information ..."/>
                     <i id="aInfo" style="color: red; margin-left:15%;"></i>
                    </div>
                    <div class="form-group">
                      
                        <input id="count"  name="count" type="number"  class="form-control" placeholder="Enter Count ..."/>
                         <i id="aCount"style="color: red; margin-left:15%;"></i>
                      </div>
                      <div class="form-group">
                      
                        <input id="price" name="price" type="number"  class="form-control" placeholder="Enter Price ..."/>
                         <i id="aPrice"style="color: red; margin-left:15%;"></i>
                      </div>
                      <div class="form-group">
                        <label>Classify</label>
                        <select class="form-group" name="classify" >
                        <option>Phone</option> 
                        <option>Tablet</option> 
                        <option>Laptop</option> 
                        <option>Watch</option> 
                        </select>
                      </div>
                       <input id="img"  type='file' onchange="onchangeImg();readURL(this);" />
                       <input type="hidden" id="image" name="image" >
                         <img id="imgShow"  style="height: 120px; width: 120px;" alt="your image" />
                      </div>
                      <div class="form-group">
                        <button id="btnAdd"  style="width: 25%;" class="form-control" type="submit" class="btn btn-primary">Add Product</button>
                      </div>

                </form>
          </div>
        </div>   <!-- /.row -->
      </section>
      
            </section><!-- /.Left col -->
          </div><!-- /.row (main row) -->
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.0
        </div>
        <strong>Copyright &copy; 2014-2015 Almsaeed Studio</strong> All rights reserved.
      </footer>
       <script>

           var firebaseConfig = {
    apiKey: "AIzaSyD69PslQBpJU1DZ9vehIGyCq0muJTqPUuU",
    authDomain: "myserver-67396.firebaseapp.com",
    projectId: "myserver-67396",
    storageBucket: "myserver-67396.appspot.com",
    messagingSenderId: "377148547701",
    appId: "1:377148547701:web:e38a48f53489f1a4674e3c",
    measurementId: "G-CZKSPGTEC7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

const onchangeImg=()=>{
var file=document.getElementById('img').files[0];

var storageRef = firebase.storage().ref( uuid());
        let uploadTask = storageRef.put(file);

        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
            (snapshot) =>{},
            (error) =>{console.log(error) },
            () =>{
                uploadTask.snapshot.ref.getDownloadURL().then((url) =>{  
                    console.log(url)  
                    document.getElementById('image').value=url      
                })
            }
        ) 
}
const uuid =  () => {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
        });
    }



  
function myFunction(Id) {
  
  if (confirm("Press a button!")) {
    onDelete(Id);
  }
}

function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgShow')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

 function validateForm()  {
             var n = document.getElementById("name").value;
             var i = document.getElementById("info").value;
              var c = document.getElementById("count").value;
              var numC = Number(c);
               var p = document.getElementById("price").value;
               var numP = Number(p);

               var aN=document.getElementById("aName");
               var aI=document.getElementById("aInfo");
               var aC=document.getElementById("aCount");
               var aP=document.getElementById("aPrice");
 
             if(n== "" || n.trim().length >20) {
                aN.innerHTML="Please enter Product Name"
                 return false;
                 
             }else{aN.innerHTML=""}
             if(i == "" || n.trim().length >50) {
                  aI.innerHTML="Please enter Product Information"
                 return false;
             }else{aI.innerHTML=""}
                if(numC <1 || numC > 50) {
                  aC.innerHTML="Please enter Product Count"
                 return false;
             }else{aC.innerHTML=""}
                if(numP <50 || numP > 2000) {
                  aP.innerHTML="Please enter Product Price"
                 return false;
             }else{aP.innerHTML=""}

             return true;
         }





      const onDelete=async(id)=>{
  const url='http://localhost:3000/Product/delete/'+id
  const option={
    method:'delete',
    headers: {
      'Content-Type':'application/json'
    }
  }
  try{
    await fetchAPI(url,option)
    console.log('da load')
 window.location.href='/Product'
  }catch(e){
console.log('Delete error: ',e)
  }
}

      const fetchAPI =async(url,option)=>{
        const res = await fetch(url,option)
        return res.json()
      }


  const onEdit = id =>{
    window.location.href='/Product/edit/'+id
     }
    </script>
    